.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.grid {
    width: 50vw;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
} 

.cell {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    display: inline-block;
}

.row {
    width: 100%;
    vertical-align: top;
    line-height: 0.8vw;
}

.grid {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
